# 🔒 Environment variables
.env
.env.*
frontend/.env
backend/.env

# 📦 Node modules
node_modules/
frontend/node_modules/
backend/node_modules/

# 🏗 Build folders
dist/
build/
frontend/build/
backend/build/

# 🧪 Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 💻 OS files
.DS_Store
Thumbs.db

# 🧠 IDE / Editor
.vscode/
.idea/

# 🔐 Secrets / keys
*.pem
*.key

# 🐳 Docker
docker-compose.yml

# 📁 Temporary files
tmp/
temp/
frontend/.env*
backend/.env*